<div id="main">
  <div>
    <div class="hero-text">
      <h1 class="hero-headline">About Us</h1>

      <p class="hero-runner">Founded in 2014, Firley brew emerged from a collective passion for brewing, a commitment to quality, and an unwavering dedication to community. Our journey began in the vibrant city of Jönköping, where a group of visionary brewers came together with a shared dream to create exceptional beers that would not only tantalize the taste buds but also enrich the lives of those who savor them.
At Firley brew, our goals are as diverse and dynamic as the flavors of our brews. First and foremost, we aim to craft beers of unparalleled quality, marrying traditional brewing techniques with innovative approaches to deliver a range of flavors that cater to every palate. We strive to be pioneers in the craft beer industry, constantly pushing the boundaries of creativity to introduce new and exciting brews to our loyal patrons.
</p>
    </div>
    <div class="event-section">
      <div class="event-headline-container">
        <h1 class="event-headline">Upcoming Events</h1>
      </div>
      {{#if isAdmin}}
        <div class="add-event-container">
          <a href="/about/new">
            <img class="add-event" src="/img/Add_light.svg" alt="" />
          </a>
        </div>
      {{/if}}
      <div class="event-reverse">
        {{#each events}}
            
          <div class="event-container">
            <img class="event-background" src="{{ethumbnail}}" alt="" />
            <div class="event-info">
              {{#if ../isAdmin}}
              <a href="/about/update/{{eid}}"><img src="/img/Edit.png" alt=""></a><a href="/about/delete/{{eid}}"><img src="/img/close_ring.png" alt=""></a>
             {{/if}}
              <h2>{{ename}}</h2>
              <p>{{edesc}}</p>
              <a href="/about/{{eid}}">
                <button class="submitbutton">Check it out</button>
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>