<div id="main">
  <div>
    {{#if isLoggedIn}}
      {{#if isAdmin}}
        <form action="/products/update/{{product.pid}}" method="post" class="login-form">
          <fieldset>
            <label for="proname">Product name:</label>
            <input
              type="text"
              name="proname"
              id="proname"
              value="{{product.pname}}"
              required="required"
               class="login-input"
            />
            <br />
            <label for="proyear">Product year:</label>
            <input
              type="number"
              name="proyear"
              id="proyear"
              placeholder="6969"
              value="{{product.pyear}}"
              required="required"
               class="login-input"
            />
            <br />
            <label for="prodesc">Product description:</label>
            <textarea
              name="prodesc"
              id="prodesc"
              cols="30"
              rows="10"
              required="required"
               class="login-input"
            >{{product.pdesc}}</textarea>
            <br />
            <label for="protype">Product type:</label>
            <select name="protype" id="protype" required="required"  class="login-input">
                <option value="Ale"{{#if (theType1 product.ptype)}} selected="selected"{{/if}}>Ale</option>
                <option value="Lager"{{#if (theType2 product.ptype)}} selected="selected"{{/if}}>Lager</option>
                <option value="Pilsner"{{#if (theType3 product.ptype)}} selected="selected"{{/if}}>Pilsner</option>
                <option value="Porter"{{#if (theType4 product.ptype)}} selected="selected"{{/if}}>Porter</option>
                <option value="IPA"{{#if (theType5 product.ptype)}} selected="selected"{{/if}}>IPA</option>
                <option value="APA"{{#if (theType6 product.ptype)}} selected="selected"{{/if}}>APA</option>
                <option value="Stout"{{#if (theType7 product.ptype)}} selected="selected"{{/if}}>Stout</option>
                <option value="Weizenbock"{{#if (theType8 product.ptype)}} selected="selected"{{/if}}>Weizenbock</option>
                <option value="Bitter"{{#if (theType9 product.ptype)}} selected="selected"{{/if}}>Bitter</option>
                <option value="Other"{{#if (theType10 product.ptype)}} selected="selected"{{/if}}>Other</option>
             

            </select>
            <br />
             <label for="prothumbnail">Thumbnail</label>
            <input
              class="login-input"
              type="text"
              id="prothumbnail"
              name="prothumbnail"
              value="{{product.pthumbnail}}"
              placeholder="blue"
              required="required"
              
            />
            <label for="proimg">product image URL:</label>
            <input
              type="text"
              name="proimg"
              id="proimg"
              placeholder="/img/"
              value="{{product.pimgURL}}"
              required="required"
               class="login-input"
            />
            <br />
            <label for="procolor">Color:</label>
            <input
              class="login-input"
              type="text"
              id="procolor"
              name="procolor"
              value="{{product.pcolor}}"
              placeholder="blue"
              required="required"
              
            />
            <label for="proalcohol">Alcohol:</label>
            <input
              class="login-input"
              type="number"
              name="proalcohol"
              id="proalcohol"
              placeholder="5.0"
              required="required"
              value="{{product.palcohol}}"
              step=".01"
            />
            <label for="provolume">volume:</label>
            <input
              class="login-input"
              type="number"
              name="provolume"
              id="provolume"
              placeholder="33"
              required="required"
              value="{{product.pvolume}}"
            />
          </fieldset>
          <input type="submit" value="Submit changes" class="submitbutton"/>
        </form>
      {{else}}
        <p>You can't do this.</p>
      {{/if}}
    {{else}}
      <p>No way, José.</p>
    {{/if}}
  </div>
</div>