<div id="main" class="product-main">
  
    {{#if hasDatabaseError}}
    <div>Error</div>
    {{else}}
    <h1 class="product-headline">OUR <br>PRODUCTS</h1>
    <div class="repeat">
      
      
        {{#if isAdmin}}
        <div class="bakery-goods" id="add-product">
         <a href="/humans/new"><img class="add-img"src="/img/Add_light.svg" alt="add"></a>
          </div>
        {{/if}}
      
     
        {{#each projects}}
          <div class="bakery-goods"><a class="product-name" href="/humans/{{pid}}">
            <img class="product-image" src="{{pthumbnail}}" />
            </a>
            <div class="under-img">
              
              <div class="product-information">
            <a class="product-name" href="/humans/{{pid}}">{{pname}}</a>
            </div>
            {{#if ../isAdmin}}
            <div class="product-remove-edit">
              <a href="/humans/delete/{{pid}}"><img src="/img/close_ring.png" alt=""></a><a href="/humans/update/{{pid}}"><img src="/img/Edit.png" alt=""></a>
            </div>
             {{/if}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  
</div>