<div id="main">
  {{#if hasDatabaseError}}
    <div>Error</div>
  {{else}}
    <div class="product-page-container" class="container">
      <div class="columns">
        <div class="column xs-auto">
          <div class="img-container">
            <img
              class="product-page-img"
              src="{{project.pimgURL}}"
              alt="{{project.pname}}"
            />
          </div>
        </div>
        <div class="column col-md-auto">
          <div class="product-info">
            <h2>{{project.pname}}</h2>
            <p>{{project.pyear}}</p>
            <p>{{project.pdesc}}</p>
            <div class="product-atributes">
              <div class="atribute-container">
                <p class="atribute-description">Beer type</p>
                <p class="atribute">{{project.ptype}}</p>
              </div>
              <div class="atribute-container">
                <p class="atribute-description">Color</p>
                <p class="atribute">{{project.pcolor}}</p>
              </div>
              <div class="atribute-container">
                <p class="atribute-description">Volume</p>
                <p class="atribute">{{project.pvolume}} cl</p>
              </div>
              <div class="atribute-container">
                <p class="atribute-description">Alcohol</p>
                <p class="atribute">{{project.palcohol}} %</p>
              </div>
            </div>
          </div>
          
          <div class="reviews-container"></div> 
          <details>
            <summary class="reviews-header">
              
              <p class="reviews-header-item">Reviews</p>
              <p class="reviews-header-item">{{averageRating}}</p>
            
            </summary>
            <div> 
              {{#if isLoggedIn}}
              <details>
              
              <summary>Write a Review</summary>
             
                <form action="/humans/{{project.pid}}/reviews" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <label for="reviewText">Review:</label>
                <textarea
                  class="login-input"
                  id="reviewText"
                  name="reviewText"
                  required
                ></textarea><br />
                <label for="rating">Rating:</label>
                <input
                  class="login-input"
                  type="number"
                  id="rating"
                  name="rating"
                  required
                  min="1"
                  max="5"
                /><br />
                <button class="submitbutton" type="submit">Submit Review</button>
              </form>
              </details>
              {{/if}}
              </div>
              
              {{#each reviews}}
                <div class="user-rating">

                  <p>{{uname}}</p>
                  <p>Rating: {{rating}}</p>
                </div>
                  <p class="review-text">{{review}}</p>
                </li>
              {{/each}}
            </details>
          </div>
          
        </div>
      </div>
    </div>

  {{/if}}
</div>