<div id="main">
  {{#if hasDatabaseError}}
    <div>Error</div>
  {{else}}

    <h1>{{project.pid}}</h1>
    <h2>{{project.pname}}</h2>
    <p>{{project.pyear}}</p>
    <p>{{project.pdesc}}</p>
    <p>{{project.ptype}}</p>
    <img src="{{project.pimgURL}}" alt="{{project.pname}}" />
  {{/if}}
</div>