<div id="main">
  <div>
    {{#if hasDatabaseError}}
    <div>Error</div>
    {{else}}
    <h1>List of all persons</h1>
    <div class="repeat">
      <div class="bakery-goods">
      
        {{#if isAdmin}}
         <a href="/humans/new">add</a>
        {{/if}}
      
      </div>
        {{#each projects}}
          <div class="bakery-goods"><a class="product-name" href="/humans/{{pid}}">
            <img class="product-image" src="{{pimgURL}}" />
            </a>
            <div class="under-img">
            <a class="product-name" href="/humans/{{pid}}">{{pname}}</a>
            {{#if ../isAdmin}}
            <div>
              <a href="/humans/update/{{pid}}"><img src="/img/Edit.png" alt=""></a> - <a href="/humans/delete/{{pid}}"><img src="/img/close_ring.png" alt=""></a>
            </div>
            </div>
            {{/if}}
            
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>